* {
    margin:0;
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: rgb(0, 0, 0);
}
.container{
    height:100px;
}
.register{
    display: flex;
    margin-top: 12px;
    font-size:12px;
    font-weight: 600;
    margin-right: 5px;
}
.register1{
    margin: 0px 20px 0px 10px;
    display: flex;
    justify-content: flex-end;
    font-size: 13px;
    text-transform: uppercase;
}
.register2{
    color: #9d9d9d;
    margin-right: 9px;
    font-family: "Open Sans", sans-serif;
}
.register3{
    color: #eee600;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    margin-right: 9px;
}
img{
   width: 14.4%; 
   height: 5%;
   margin-left: 49px;
   margin-top:7px;

}
ul{
    list-style-type: none;
}
.redir1{
    width: 70%;
    padding-top: 17px;
    font-weight: 600;
    padding-left: 10px;
}
.redir2{
    color: #9d9d9d;
    display: flex;
    width: 72%;
    justify-content: space-between;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    margin-left: -19px;
    padding-top: 4px;
}
.navbar_header{
    display: flex;
    justify-content: space-between;
} 
.search{
    margin: 0px 69px 0px 0px;
    background-color: #303030;
    border: 1px solid#303030;
    width: 89%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 12px;
    padding-left:2%;
    height: 17px;
    font-weight: 600;
    font-size: unset;

}
.navbar_right{
    display: flex;
    align-items: center;
    padding-top:8px;
}
.container2{
    color: white;
    background-color:#1d1d1d ;
    padding-left: 20px;
}
.desjeux{
    font-size:36px;
    line-height: 1.1;
    letter-spacing:0.5px;
    padding-left:67px;
    margin-top:10px;
    margin-bottom: 15px;
    font-weight: normal;
    color: inherit;
}
.searchbar{
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
    padding-right: 38px;
}

.header2{
    display: flex;
    justify-content: space-between;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    height:72px;
}
.premier{
    font-size: 14px;
    margin-right: 5px;
    margin-bottom: 2px;
    color:#a4a09a;
    font-weight: 600;
}

.vuejeux{
    width: 178px;
    text-align: left;
    height: 33px;
    background-color: #303030;
    border:1px solid #1d1d1d;
    color:#9d9d9d;
    font-size: 15px;
    text-transform: uppercase;
    border-radius:3px;
    margin-left: 11px;
}
.deuxieme{
    font-size: 15px;
    color:#a4a09a;
    margin-right: -32px;
    display: flex;
    align-items: flex-end;
}
.tri{
    margin-bottom: 9px;
    font-weight: 600;
    padding-left: 10px;

}
.trijeux{
    width: 175px;
    text-align: left;
    height: 55px;
    background-color: #303030;
    border:1px solid #1d1d1d;
    color:#9d9d9d;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 19px;
    margin-bottom: -9px;
    border-radius:3px;
    margin-right: 31px;
}
.body {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    margin-top: 1px;
}

.body img{
    width: 196px;
    margin: 3px 7px 15px 28px;
}
.dernrangée{
    display: flex;
    align-items: baseline;
    padding-right: -0.25%;
}
.footer{
    background-color: black;
    font-family: "Open-sans", sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 1%;

}
.h1{
    color: #eee600;
    font-family: "Open-sans", sans-serif;
    display: flex;
    font-size: 12px;
    padding-left:40px;
    padding-top: 20px;
    padding-bottom:24px;

}
.global{
    display: flex;
    width: 65%;

}
.class1 ,.class2 ,.class3{
    color: #9d9d9d;
    font-family: "Open-sans", sans-serif;
    display: flex;
    flex-direction: column;
    font-size:12px;
}
.acticom{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom:10px;
  margin-left: -37px;
  width: 17%;
  line-height: 1.02;
}
.confiden{
    /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 600; */
    width: 20%;
    /* padding-bottom:10px; */
    margin-left: 2%;
    margin-right:4.5%;
    margin-top:-2px;
    line-height:1.05;
}
.assistance{
    /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 600;
    padding-bottom:10px; */
    padding-left: 0%;
    margin-left: 2%;
    line-height: 1.05;
}
footer li{
    margin-bottom: 1rem; 
    font-size:12px;
}
.global2{
    background-color: white;
    font-family: "Open-sans", sans-serif;
}
.bandeaubleu{
    color: white;
    background-color:#3e9fca ;
    height: 38px;
    padding-left: 42px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-family: "Open-sans", sans-serif;
    font-size: 12px;
    font-weight: 600;
}
.bandeau{
    background-image: url(https://support.activision.com/content/dam/atvi/support/contact-us/background_images/contact-us-ban-wz-a.jpg);
    background-repeat:no-repeat;
    background-position: center 30%;
    background-size: cover;
    height: 240px;
    color:white;
    font-size: 36px;
    font-family: "Open-sans", sans-serif;
    font-weight: normal;
    display: flex;
    align-items: flex-end;
    line-height: 1.1;
    font-weight: lighter;
}
.h{
    font-size: smaller;
    padding-left:40px;
    padding-bottom:30px;
    text-transform: uppercase;
    font-weight:100;
}
.container3{
    padding: 0px 43px 2px 43px;

}
.block{
    display: block;
    background-color: white;
    border: 1px solid #a4a09a;
    text-align: center;
    padding: 15px 20px 50px 20px;
    margin-top:60px;
    margin-bottom:32px;
    border-radius:4px
}
.h2{
    font-size: 32px;
    margin-top: 75px;
    font-weight: 300;
    margin: 75px auto 0;
    max-width: 660px;
    line-height: 1.3;
    color:#000000
    
}
.p1{
    font-weight: initial;
    font-size: 16px;
    max-width:570px;
    margin:20px auto 0;
    padding-bottom: 30px;
}
.compte{
    display: flex;
    justify-content: center;
 
}
.p2, .p3{
    border: 1px solid #0e0b07;
    margin-right: 22px;
    height:54px;
    width:248px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size:smaller;
    text-transform: uppercase;
    
}
.p4{
    padding-top: 30px;
    text-decoration: underline;
    color:#333;
}
.options{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0px 15px 70px 15px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 19px;
   
}
.jeu, .plateforme ,.sujet, .pb{
    display: flex;
    justify-content: center;
    
}
.btnjeu, .btnplateforme, .btnsujet , .btnpb {
    width: 1104px;
    height: 52px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 19px;
    font-family: "Open-sans", sans-serif;
    background-color: #f1f1f1;
    color: #a4a09a;
    border: 1px solid #a4a09a;
    padding-left: 41px;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}
.logos1{
    max-width:25%;
    height: 0%;
    display: flex;
    flex-wrap: wrap;
}
.logos2{
    max-width:25%;
}
/* footer img{
    width: 20%;  
} */
.esrbrat{
    margin-right:-15%;
    width:25%;
    margin-top:11%;
    margin-left:-16px;
}
.usk{
    width: 20%;
    margin-top: 9%;
}
.pegionli{
    margin-left:1%;
    margin-right:9%;
    margin-top: 7%;
    width: 18%;
}
.pegi18{
    width: 17%;
    margin-right: 3%;
    margin-left:-8%;
    margin-top: 7.5%;
}
.esrb{
    width:25%; 
    margin-left:-4.5%;
    margin-top: 8%;
}
.bbb{
    width:35%;
    margin-left:1%;
    margin-top:18%
}
.actifoot{
    width: 62%;
    height:auto;
    margin-left: -13%;
    margin-top: 8%;
}
.copy{
    color: white;
    background-color: #303030;
    height: 15%;
    width: 67%;
    text-align: left;
    text-transform: capitalize;
    line-height: 3;
    font-weight: 100;
    font-size:10px;
    margin-top:12px;
    margin-left:-43px;
    padding-left:10px;
}
@media screen and (min-width:428px) and (max-width:1920px) {
    .navbar, .header2{
        width: 65%;
        padding-left: 17%;
    }
    .body, .global{
        padding: 0% 19% 
    }
    .bandeaubleu{
        padding-left: 19%;
        font-size: 12px;
    }
    .bandeau{
        padding-left: 17%;
        font-size: 40px
    }
    .container3{
        width: 60%;
        padding-left: 20%;
    }
}
@media screen and (max-width:767px) {
    .navbar, .header2, .bandeau, .bandeaubleu{
        width: 65%;
        padding-left: 17%;
    }
    .body, .global{
        padding: 0% 15% 
    }    
    .bandeaubleu{
        padding-left: 19%;
        font-size: 12px;
    }
    .bandeau{
        padding-left: 17%;
        font-size: 40px
    }
    .container3{
        width: 61%;
        padding-left: 19.25%;
    }
}