td{
    border: 0.5px solid black;
    background-color: white;
    align-items: center;
    padding: 15px;  
}
th{
    border: 0.5px solid black;
    height: 50px;
}
.header1{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    font-family:'Fira Sans Light';
}
.bandeau{
    background-color: white;
    font-family: 'Fira Sans Light';
    padding: 10px;
    margin-bottom: 100px;
    width: 600px;
    text-align: center;
}
body{
    background-color: #ECEFF6;
}
.table{
    display: flex;
    justify-content: center;
    background-color: white;
    height: 40%;
    font-family:'Fira Sans ExtraLight';
    margin: 50px;
}