body {
    background:linear-gradient(135deg, rgba(82, 83, 152, 0.6), rgba(56,57,137,0.8)), url('image/bg_img.jpeg');
}
.header{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;

}
.global{
    text-align: left;
    background-color: rgba(38, 39, 70, 0.95);
    font-family: 'Open Sans', sans-serif;
    color: white;
    width: 32%;
    display: flex;
    margin: auto;
}
.text{
    margin: auto;
}
.form{
    margin-left: 30px;
    margin-top: 15px;
}
input[type=text]{
    height: 25px;
    width: 510px;
    border-radius: 5px;

}
input[type=email]{
    height: 25px;
    width: 510px;
    border-radius: 5px;
}
.option{
    height: 25px;
    width: 510px;
}
input[type=submit]{
    height: 37px;
    width: 530px;
    border-radius: 5px;
    background-color:rgba(90, 235, 90, 0.8);
    color: white;
}
textarea{
    width: 520px;
    height: 100px;
}
.inputstyle{
    width: 520px;
    height: 27px;
    border-radius: 5px;
}