*{
    margin: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
header{
    background-color: #d82424;
    height: 60px;
}
h1, h2{
    text-align: center;
}
p{
    padding: 40px;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
}
.textpres{
    display: flex;
    justify-content: center;
    margin-top:-3%;
}

.textpres1{
    width: 45%;
    background: rgb(255, 255, 255);
    margin-top:5%;
    padding-top:12px;
}
.etape{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 5%;
}
.compactuelles{
    display: flex;
    flex-direction: column;
    width: 16em;
    line-height: 2.5em;
    padding-left: 12px;
    
}
#file{
    -webkit-appearance: none;
    margin-bottom: 9px;
}
#file::-webkit-progress-value {
    background-color: orangered;
}
#file1{
    -webkit-appearance: none;
    margin-bottom: 9px;
}
#file1::-webkit-progress-value {
    background-color: #0400fa;
}
#file2{
    -webkit-appearance: none;
    margin-bottom: 9px;
}
#file2::-webkit-progress-value{
    background-color: #787cb4;
}
#file3{
    -webkit-appearance: none;
    margin-bottom: 9px;
}
#file3::-webkit-progress-value{
    background-color: #0087be;
}
#html5{
    width: 40px;
    padding-right: 10px;
    padding-top:5px;
}
#css3{
    width: 30px;
    padding-right: 16px;
    padding-left: 5px;

}
#php{
    width: 46px;
    padding-right:5px ;
    padding-top:11px;
}
#wp{
    width: 32px;
    padding-top: 8px;
    padding-right: 14px;
    padding-left:5px;
}
label {
    padding-right: 10px;
    font-size: 1rem;
}

.compfutur{
    width: 18%;
    line-height: 2.7em;
    margin-left:315px;
}


.expro{
    display: flex;
    flex-direction:column;
    width: 18%;
    line-height: 2.5em;
    margin-left:220px;
 
}
.projet{
    display: flex;
    flex-direction: column;
    width: 78,5%;
    margin-top:87px;
    margin-bottom: 90px;

}
div#slider figure {
    
    position: relative; 
    width: 1100%;
    margin: 0;
    padding: 0;
    font-size: 0;    
    animation: 40s slidy infinite;
}
div#slider figure img { 
    width: 9.09%; 
    height: auto; 
    float: left; 
}
div#slider { 
    margin: auto;
    width: 80%; 
    max-width: 1200px; 
    overflow: hidden; 
}
@keyframes slidy {
    0% { left: -0%; }
    25% { left: -200%; }
    35% { left: -300%; }
    40% { left: -400%; }
    50% { left: -500%; }
    70% { left: -600%; }
    75% { left: -700%; }
    95% { left: -800%; }
    100% { left: -900%; }

}
#mlk1{
    width: 50%;
}
#mlk3{
    width: 50%;
}
#brief2{
    width: 50%;
}
#brief2_1{
    width: 50%;
}
#categories{
    width: 50%;
}
#bookcate{
    width:50%;
}
#js{
    width:50%
}
#bdd{
    width: 50%;
}
#bookmarks{
    width: 50%;
}

footer{
    background-color: #d82424;
    height: 60px;
}
@media screen and (max-width: 480px) {

    body{
        width: 100%;
    }
    .navbar{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

    }  
    .textpres{
        display: flex;
        word-wrap: break-word;
        width: 100%;
        text-align: center;
    } 
    .textpres1{
       width: 50%;
    }
    p{
        width: 100%;
        padding-left: 3px;
    }

    p.lead{
        padding-right:5%
    }

    .compfutur{
        margin-right:19em;
        margin-top:48px;
        width: 233px;
    }    
    .expro{
        width:225px;
        margin-right:14em;
        margin-top:48px;
    }
}    

@media screen and (min-width: 481px) and (max-width: 768px) {

    p{
        width: 116%;
        margin-left: -15%;
    }
    .compactuelles{
        width: 37%;
        margin-left: 4%;
    }
    .compfutur{
        width: 24%;
        margin-left: -5%;
    }
    .expro{
        width: 34%;
        margin-left: -3%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {


}